<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <title>工程主页面</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/AdminLTE.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/skins/_all-skins.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vince/css/vince.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vince/biao/css/font-awesome.min.css')}}">
    <!--[if lt IE 9]>
    <script src="{{url_for('static',filename='dist/js/html5shiv.min.js')}}"></script>
    <script src="{{url_for('static',filename='dist/js/respond.min.js')}}"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
      <span class="logo-mini">
	  <img src="{{url_for('static',filename='vince/images/v01.png')}}">
	  </span>
            <span class="logo-lg"><img src="{{url_for('static',filename='vince/images/v01.png')}}"></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
            <span class="all_title">物联网平台</span>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{url_for('static',filename='dist/img/user2-160x160.jpg')}}" class="user-image"
                                 alt="User Image">
                            <span class="hidden-xs">管理员</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{url_for('static',filename='dist/img/user2-160x160.jpg')}}"
                                     class="img-circle" alt="User Image">
                                <p>
                                    姓名：管理员
                                    <small>部门：管理部</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{url_for('auth.login')}}" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{url_for('static',filename='dist/img/user2-160x160.jpg')}}" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>当前用户：管理员</p>
                    <p class="menu_time">
                        <span id=localtime style=" font-size:10px;  right: 30px; top:-20px; "></span></p>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">菜单 MENU</li>
                <li class="active">
                    <a href="{{url_for('main.gczym',item_id=item_id)}}">
                        <i class="fa fa-home"></i> <span>工程主页面</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('main.gjls',item_id=item_id)}}">
                        <i class="fa fa-bell"></i> <span>告警历史</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('main.sggl',item_id=item_id,page=1)}}">
                        <i class="fa fa-print"></i> <span>施工管理</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-sliders"></i>
                        <span>设备管理</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{url_for('main.jietiaoyi',item_id=item_id)}}"><i class="fa fa-bookmark"></i>
                            解调仪</a></li>
                        <li><a href="{{url_for('main.dianluban',item_id=item_id)}}"><i class="fa fa-bookmark"></i>
                            电路板</a></li>
                        <li><a href="{{url_for('main.shexiangtou',item_id=item_id)}}"><i class="fa fa-bookmark"></i> 摄像头</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{url_for('main.gcsz',item_id=item_id)}}">
                        <i class="fa fa-gears"></i> <span>工程设置</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="{{url_for('auth.indexofsupermanager')}}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">工程主页面</li>
            </ol>
        </section>
        <div class="content qqq" style="height:100%">
            <div class="ssjc" style="height:100%">
                <div class="row" style="height:100%">

                    <div class="col-md-12 ssjc_right">

                        <div class="ssjc_right_up">

                            <div class="ssjc_right_bottom">
                                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                                <div class="alert-success"
                                     style="background-color:green;text-align: center;height:5%;width:80%;margin:auto;">
                                    <h4>操作成功</h4>
                                    <span class="pop-close1">(点此关闭)</span>
                                    {{ msg }}
                                </div>
                                {% endfor %}
                                <div class="nei2">
                                    <p>工程<a id="itemid">{{item_id}}</a>数据表</p>
                                    <div class="ssjc_rub_table">

                                        <form role="form" method="post"
                                              action="{{ url_for('main.item_edit',item_id=item_id,sensor_id=sensor_id,sensor=sensor,sensorthre=sensorthre) }}"
                                              enctype="multipart/form-data">

                                            <table class="tj_table" border="0">
                                                <thead>
                                                <tr>
                                                    <td>工程号</td>
                                                    <td>传感器id</td>
                                                    <td>类型</td>
                                                    <td>阈值</td>
                                                    <td>操作</td>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <!--行的开始-->

                                                <tr>
                                                    <td>{{item_id}}</td>
                                                    <td>{{sensor_id}}</td>
                                                    <td>{{sensor.sensor_type}}</td>
                                                    <td style="color: red">
                                                        <label for="input_sensor_thre">{{form.sensor_thre.label}}</label>
                                                        {{form.sensor_thre(value=sensorthre.sensor_threshold)}}
                                                        {% for err in form.sensor_thre.errors %}
                                                        <div class="col-md-12">
                                                            <font style="color:red">{{ err }}</font>
                                                        </div>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {{form.csrf_token}}
                                                        {{form.submit}}
                                                    </td>
                                                </tr>

                                                <!--行的结束-->
                                                </tbody>
                                            </table>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b></b>
        </div>
        <strong>Copyright &copy; 2018</strong>
    </footer>
    <div class="control-sidebar-bg"></div>
</div>


<script>
    $(document).ready(function () {
        $('.pop-close1').click(function () {
            $('.alert-success').hide();
        });
    })

</script>
<script type="text/javascript" src="{{url_for('static',filename='js/times.js')}}"></script>
<script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='dist/js/app.min.js')}}"></script>
<script src="{{url_for('static',filename='dist/js/demo.js')}}"></script>
<script src="{{url_for('static',filename='vince/js/nicescroll.js')}}"></script>
<script src="{{url_for('static',filename='vince/js/demo.js')}}"></script>
<script src="{{url_for('static',filename='vince/datapick/js/moment.js')}}"></script>
<script src="{{url_for('static',filename='vince/datapick/js/daterangepicker.js')}}"></script>
<script src="{{url_for('static',filename='vince/js/echarts.min.js')}}"></script>

</body>
</html>